:root {
  --dark: #093359;
  --blue: #3a98ec;
  --orange: #ec8e3a;
  --pink: #e63aec;
  --green: #3fec3a;
  --light: #fcfeff;
  --light-blue: #bfdef9;
  --grey: #b3b7b5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: var(--light-blue);
  text-shadow: 1px 1px 2px var(--blue), 0 0 1em var(--pink),
    0 0 0.2em var(--pink);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 85%;
  margin: auto;
}

h1 {
  margin: 20px 0 0;
}

.App {
  width: 100%;
  margin: auto;
  height: 100%; /* Center the content horizontally */
}

.top-page {
  display: flex;
  flex-direction: column;
}
.end-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.game-container {
  /* padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.figure-div {
  display: flex;
  justify-content: center;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  display: flex;
  flex-direction: column; /* Change to column */
  align-items: center; /* Align items to the end (right) */
  text-align: center;
  color: var(--orange);
  text-shadow: 1px 1px 2px var(--light);
}

.wrong {
  font-size: 2em;
  color: var(--orange);
  text-shadow: 1px 1px 2px var(--light);
}
z .wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.word {
  display: flex;
  align-items: center;
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* align-items: center; */
}

.button-div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.hidden-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hidden-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  cursor: pointer;
}

.hidden-input {
  width: 83%;
  height: 6vh;
  margin-bottom: 1vh;
  background-color: var(--light-blue);
  font-size: 2.5em;
  outline: none;
}

.hidden-input:active {
  border: none;
  background-color: var(--orange);
}

.hidden-input:hover {
  border: none;
  background-color: var(--orange);
}

.h-button-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.eye-sub {
  width: 30%;
}

.main-button {
  background: var(--light-blue);
  color: var(--dark);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  height: 3em;
  transition: 0.2s;
  width: 50%;
  border-radius:25px;
}

.main-button:hover {
  letter-spacing: 0.2rem;
  background: var(--pink);
  color: var(--dark);
  animation: box 3s infinite;
}

.eye-sub {
  width: 40%;
  background: var(--grey);
  color: var(--dark);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  height: 3em;
  transition: 0.2s;
}

.eye-sub:hover {
  letter-spacing: 0.2rem;
  background: var(--orange);
  color: var(--dark);
  animation: box 3s infinite;
}

.submit {
  width: 40%;
  background: var(--light-blue);
  color: var(--dark);
  text-decoration: none;
  text-transform: lowercase;
  border: none;
  letter-spacing: 0.1rem;
  height: 3em;
  transition: 0.2s;
}

.submit:hover {
  letter-spacing: 0.2rem;
  background: var(--green);
  color: var(--dark);
  animation: box 3s infinite;
}

.rba {
  display: flex;
  justify-content: space-around;
  padding-top: 3vh;
  width: 100%;
}

.mobile-guess {
  display: none;
}

.mobile-noti {
  display: none;
}

.mobile-noti.show {
  display: flex;
  justify-content: center;
  width: 100%;
}

.rules-div {
  width: 85%;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  display: flex;
  width: 80%;
  height: 4vh;
  font-size: 1em;
  text-align: center;
  background-color: var(--light-blue);
  box-shadow: 1px 1px 2px var(--green);
  border: none;
  border-radius: 25px;
  text-decoration: none;
}

.rules-btn-div {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.rules-btn {
  width: 100%;
  height: 4vh;
  font-size: 1.3em;
  background-color: var(--light-blue);
  box-shadow: 1px 1px 2px var(--green);
  border: none;
  border-radius: 25px;
}

.rules-btn:hover {
  background-color: var(--green);
  box-shadow: 1px 1px 2px var(--orange);
}

.game-box {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: column;
}

.nav-div {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  width: 100%;
}
.back-btn {
  width: 100%;
  height: 4vh;
  font-size: 1.3em;
  background-color: var(--light-blue);
  box-shadow: 1px 1px 2px var(--green);
  border: none;
  border-radius: 25px;
}

.back-btn:hover {
  background-color: var(--green);
  box-shadow: 1px 1px 2px var(--orange);
}

/* Style for the active link */
/* .active-btn {
  background-color: var(--green);
  box-shadow: 1px 1px 2px var(--orange);
  /* Add any additional styles for the active link */


.bottom-button {
  width: 100%;
  border-radius:25px;
  box-shadow: 1px 1px 2px var(--green);
}

.main-button:hover {
  letter-spacing: 0.2rem;
  background: var(--green);
  color: var(--dark);
  animation: box 3s infinite;
}

@media (max-width: 1080px) {
  /* body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  p {
    text-align: center;
    width: 85%;
    font-size: 0.9em;
  }

  .App {
    width: 100%;
  }

  .game-container {
    margin: 0 auto;
    padding: 0;
  }

  .button-div {
    flex-direction: column;
    align-items: center;
  }

  .main-button {
    margin-bottom: 2vh;
    width: 100%;
  }

  .hidden-buttons {
    width: 100%;
  }

  .hidden-input {
    width: 95%;
  }

  .button-container {
    align-items: center;
  }

  .wrong-letters-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .wrong-letters-container p {
    margin: 0;
  }

  .word-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rba {
    width: 100%;
  }

  .bottom-button {
    width: 99%;
  }

  .bottom-button:hover {
    background-color: var(--orange);
  }

  .mobile-container {
    display: flex;
    justify-content: center;
  }

  .mobile-guess {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
  }

  .guess-input {
    width: 30%;
    border: none;
    padding: none;
    height: 3rem;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    background-color: var(--grey);
  }

  .guess-input:hover {
    background-color: #e63aec;
  }

  .guess-button {
    width: 65%;
    height: 3rem;
    border: none;
    background-color: var(--light-blue);
    font-size: 1em;
  }

  .guess-button:hover {
    background-color: var(--green);
  }

  .notification-container {
    display: none;
  }
}
